Enabled: "1"
CachePW: false
URI: {{ wp_ldap_uri }}
URISeparator: ' '
Filter: ""
NameAttr: ""
SecName: ""
UidAttr: ""
MailAttr: ""
WebAttr: ""
Groups:
  administrator: ""
  editor: ""
  author: ""
  contributor: ""
  subscriber: ""
Debug: false
GroupAttr: ""
GroupFilter: ""
DefaultRole: subscriber
GroupEnable: false
GroupOverUser: "1"
Version: 1
DoNotOverwriteNonLdapUsers: false
StartTLS: false
GroupSeparator: ""
GroupBase: ""
